<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>results</title>
</head>
<body>
    <a href="#" class="results">
        <% items.forEach((article)=> { %>
            <li>
                <img 
                src=
                 <% if(article.images.length > 0){ %>
                    "<%= article.images[0].url %>"
                    <% } else { %>
                    "https://www.pinclipart.com/picdir/middle/111-1113792_narcotic-sound-astound-singer-logo-clipart.png"
                    <% } %> 
                 alt="img" width="50px">

                <h3>
                    <%= article.name %>
                </h3>
            </li>
            <hr />
        <% }) %>
    </ul>

</body>
</html>
